<h1>Products from CSV File</h1>

<p> Total available products: <%= Product.count %> </p> 
<% @products.group_by(&:category).each do |category, products| %>
  <h2><%= category.name %></h2>
  <ul>
    <% products.each do |product| %>
      <li>
        <%= link_to product.title, product_path(product) %>
      </li>
    <% end %>
  </ul>
<% end %>



